## [Visual Studio / .NET]
bin/
obj/
dist/
*.user
*.userosscache
*.sln
!Tenko.sln

## [Data]
data/history.json
data/settings.json
data/server.json
*.passphrase
scans/
tools/data/

## [Runtime DB]
*.db
*.db-shm
*.db-wal

## [User Specific]
.vs/
.idea/
*.swp
*.LNK

